{
	"DEBUG": true,
	"SECRET_KEY": "SET THIS",
	"STATIC_ROOT": "/DOMAIN/config/PROJECT/static",
	"MEDIA_URL":"/DOMAIN/config/PROJECT/static/media",
	"DATABASE": {
		"ENGINE": "django.db.backends.postgresql_psycopg2",
		"HOST": "docker.for.mac.localhost",
		"NAME": "manager",
		"USER": "manager",
		"PASSWORD": "manager"
		}
}